.offer{
    padding: 86px 0 114px;
    background-color: #F3F3F3;
    &__title{
        font-weight: 600;
        color: #000;
        span{
            display: block;
            color: var(--colorRed) ;
        }
    }
}